html, body 
{
    margin: 0;
    padding: 0;
    height: 100%;
}

#animContainer 
{
    position: relative;
    width: 8000px;
    height: 459px;
    background-image: url("http://media.istockphoto.com/vectors/cartoon-seamless-forest-vector-background-for-smartphone-app-and-vector-id609054044?k=6&m=609054044&s=612x612&w=0&h=RLdgYY1DjVjPPvySjCeCXJsR21wrJNx300dlpLS9AFI=");
    overflow: hidden;
}

#animContainer, #ghost, #cat, #house, .lampFront
{bottom: 0;}

#backgroundTint, #topText, #witch
{position: fixed;}

#ghostContainer, #ghost, #catContainer, #cat, #catText, #batContainer, #house, .bat, .lampFront, .lampBack
{position: absolute;}

#backgroundTint
{
    height: 100%;
    overflow: hidden;
    z-index: 25;
}

#topText
{
    top: 0px;
    left: 10px;
    color: navajowhite;
    z-index: 60;
}

#witch
{
    top: 200px;
    left: 100px;
    width: 150px;
    z-index: 45;
}

#ghostContainer
{
    left: 10px;
    top: 150px;
    width: 20px;
    height: 20px;
    opacity: .4;
    z-index: 50;
}

#ghost
{
    height: 100px;
    transition: all 25s ease-in-out;
    transition-delay: .5s;
    animation-fill-mode: forwards;
}

#ghost:hover
{transform: translate(7400px, 0px);}

#catContainer
{
    left: 7380px;
    bottom: 20px;
    width: 500px;
    height: 200px;
    z-index: 50;
}

#cat
{height: 100px;}

#catText
{
    background-color: darkslategray;
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: 100px;
    right: 150px;
    bottom: 200px;
    display: none;
    white-space: nowrap;
}

#cat:hover ~ #catText
{display: block;}

#house
{
    height: 800px;
    left: 7300px;
}

#batContainer
{
    left: 0px;
    top: 50px;
    width:100px;
    height: 100px;
    z-index: 20;
}

.bat
{height: 100px;}

.bat1
{
    left: 750px;
    animation: batMove1 5s infinite ease-in-out alternate;
}

@keyframes batMove1
{
    0%{top: 20px;}
    100%{top: 150px;}
}

.bat2
{
    left: 1500px;
    animation: batMove2 5s infinite ease-in-out alternate;
}

@keyframes batMove2
{
    0%{top: 20px;}
    100%{top: 150px;}
}

.bat3
{
    left: 2250px;
    animation: batMove3 5s infinite ease-in-out alternate;
}

@keyframes batMove3
{
    0%{top: 20px;}
    100%{top: 150px;}
}

.bat4
{
    left: 3000px;
    animation: batMove4 5s infinite ease-in-out alternate;
}

@keyframes batMove4
{
    0%{top: 20px;}
    100%{top: 150px;}
}

.bat5
{
    left: 3750px;
    animation: batMove5 5s infinite ease-in-out alternate;
}

@keyframes batMove5
{
    0%{top: 20px;}
    100%{top: 150px;}
}

.bat6
{
    left: 4500px;
    animation: batMove6 5s infinite ease-in-out alternate;
}

@keyframes batMove6
{
    0%{top: 20px;}
    100%{top: 150px;}
}

.bat7
{
    left: 5250px;
    animation: batMove7 5s infinite ease-in-out alternate;
}

@keyframes batMove7
{
    0%{top: 20px;}
    100%{top: 150px;}
}

.bat8
{
    left: 6000px;
    animation: batMove8 5s infinite ease-in-out alternate;
}

@keyframes batMove8
{
    0%{top: 20px;}
    100%{top: 150px;}
}

.bat9
{
    left: 6750px;
    animation: batMove9 5s infinite ease-in-out alternate;
}

@keyframes batMove9
{
    0%{top: 20px;}
    100%{top: 150px;}
}

.lampFront
{
    height: 150px;
    z-index: 50;
}

.lampFront_1
{
    left: 50px;
}

.lampFront_2
{
    left: 500px;
}

.lampFront_3
{
    left: 1000px;
}

.lampFront_4
{
    left: 1500px;
}

.lampFront_5
{
    left: 2000px;
}

.lampFront_6
{
    left: 2500px;
}

.lampFront_7
{
    left: 3000px;
}

.lampFront_8
{
    left: 3500px;
}

.lampFront_9
{
    left: 4000px;
}

.lampFront_10
{
    left: 4500px;
}

.lampFront_11
{
    left: 5000px;
}

.lampFront_12
{
    left: 5500px;
}

.lampFront_13
{
    left: 6000px;
}

.lampFront_14
{
    left: 6500px;
}

.lampFront_15
{
    left: 7000px;
}

.lampBack
{
    bottom: 40px;
    height: 130px;
    z-index: 25;
}

.lampBack_1
{
    left: 25px;
}

.lampBack_2
{
    left: 475px;
}

.lampBack_3
{
    left: 975px;
}

.lampBack_4
{
    left: 1475px;
}

.lampBack_5
{
    left: 1975px;
}

.lampBack_6
{
    left: 2475px;
}

.lampBack_7
{
    left: 2975px;
}

.lampBack_8
{
    left: 3475px;
}

.lampBack_9
{
    left: 3975px;
}

.lampBack_10
{
    left: 4475px;
}

.lampBack_11
{
    left: 4975px;
}

.lampBack_12
{
    left: 5475px;
}

.lampBack_13
{
    left: 5975px;
}

.lampBack_14
{
    left: 6475px;
}

.lampBack_15
{
    left: 6975px;
}
